@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:wght@400:700&display=swap');

:root {
    --cor-de-fundo: #161618;
    --verde: #6fff57;
    --branco: #ffffff;
    --botao-ativo: #3A375E;
    
